---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/servers/1000123/snapshots/server-0a0b0c0d/revert
    method: POST
  response:
    body: '{"uuid":"99999999-9999-4999-8999-999999999999","name":"ServerSnapshotRevert","state":"PENDING","startedAt":null,"finishedAt":null,"executingUser":{"id":10001,"username":"vcr-redacted-username"},"taskProgress":null,"onRollback":false}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
