---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/servers/1000123/snapshots/server-0a0b0c0d
    method: DELETE
  response:
    body: '{"uuid":"88888888-8888-4888-8888-888888888888","name":"ServerSnapshotDelete","state":"PENDING","startedAt":null,"finishedAt":null,"executingUser":{"id":10001,"username":"vcr-redacted-username"},"taskProgress":null,"onRollback":false}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
