---
version: 1
interactions:
- request:
    body: '{"state":"ON"}'
    form: {}
    headers:
      Content-Type:
      - application/merge-patch+json
    url: https://www.servercontrolpanel.de/scp-core/api/v1/servers/1000123?stateOption=POWERCYCLE
    method: PATCH
  response:
    body: '{"uuid":"11111111-1111-4111-8111-111111111111","name":"SetServerState","state":"PENDING","startedAt":null,"finishedAt":null,"executingUser":{"id":10001,"username":"vcr-redacted-username"},"taskProgress":null,"onRollback":false}'
    headers:
      Content-Type:
      - application/json
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/tasks/11111111-1111-4111-8111-111111111111
    method: GET
  response:
    body: '{"uuid":"11111111-1111-4111-8111-111111111111","name":"SetServerState","state":"RUNNING","startedAt":"2026-07-17T10:00:00Z","finishedAt":null,"executingUser":{"id":10001,"username":"vcr-redacted-username"},"taskProgress":{"expectedFinishedAt":"2026-07-17T10:00:30Z","progressInPercent":40},"onRollback":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/tasks/11111111-1111-4111-8111-111111111111
    method: GET
  response:
    body: '{"uuid":"11111111-1111-4111-8111-111111111111","name":"SetServerState","state":"FINISHED","startedAt":"2026-07-17T10:00:00Z","finishedAt":"2026-07-17T10:00:25Z","executingUser":{"id":10001,"username":"vcr-redacted-username"},"taskProgress":{"expectedFinishedAt":"2026-07-17T10:00:25Z","progressInPercent":100},"steps":[{"uuid":"s1-0000-4000-8000-000000000001","name":"prepare","state":"FINISHED","startedAt":"2026-07-17T10:00:00Z","finishedAt":"2026-07-17T10:00:10Z"},{"uuid":"s2-0000-4000-8000-000000000002","name":"apply","state":"FINISHED","startedAt":"2026-07-17T10:00:10Z","finishedAt":"2026-07-17T10:00:25Z"}],"result":{"state":"ON"},"onRollback":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
