---
version: 1
interactions:
- request:
    body: '{"key":"vcr-redacted-ssh-key","name":"server-22ffcfeb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://www.servercontrolpanel.de/scp-core/api/v1/users/10001/ssh-keys
    method: POST
  response:
    body: '{"createdAt":"2026-08-11T09:29:50.364722273Z","id":74847165,"key":"vcr-redacted-ssh-key","name":"server-22ffcfeb"}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.servercontrolpanel.de/scp-core/api/v1/users/10001/ssh-keys/74847165
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/users/10001/ssh-keys/74847165
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
