---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.servercontrolpanel.de/scp-core/api/v1/servers/1681695467/imageflavours
    method: GET
  response:
    body: '[{"alias":"Minimal","id":1465480614,"image":{"id":1380956033,"name":"server-aa26b363"},"name":"server-57e63944","text":"Minimal
      installation"},{"alias":"Minimal","id":949084823,"image":{"id":1817062080,"name":"server-6849ae56"},"name":"server-57e63944","text":"minimal
      system with ssh preinstalled"},{"alias":"Minimal","id":1720175140,"image":{"id":783650547,"name":"server-7ed696f1"},"name":"server-57e63944","text":"minimal
      system with ssh preinstalled"},{"alias":"Minimal","id":1324611346,"image":{"id":115389621,"name":"server-020d7007"},"name":"server-57e63944","text":"Minimal
      installation[...]
